<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">CV</a></li>
			<li><a href="/blog/">Blog</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div>
	<!-- /.container -->
	<footer>
		<p>
			something is in the footer, yeah!
		</p>
	</footer>
</body>

</html>
